/* To Do Page */

.nav-link-main {
    display: none;
}

.todo-page-header {
    @include background-header(url(../img/to_do_page/todo_bg.png), cover, color-burn);
}

.main-attraction-container2{
    margin-bottom: 50px;
}
@media(max-width: 840px) {
    .nav-link-main {
        display: block;
    }
}

.to-eat-main .to-eat-main__text .to-do-page-h1 {
    max-width: 850px;
}

.to-eat-main .to-eat-main__text .to-do-page-h2 {
    max-width: 580px;
}

@media(max-width: 520px) {
    .to-eat-main .to-eat-main__text .to-do-page-h1 {
        max-width: 300px;
    }

    .to-eat-main .to-eat-main__text .to-do-page-h2 {
        max-width: 280px;
    }
}