/* info part */

.info-page-header {
  @include background-header(url(../img/info_page/3733.jpg), cover, color-burn);
}

button:active,
button:hover,
button:focus {
  outline: 0;
  outline-offset: 0;
}

.h1-header-info {
  font-size: 40px;
  font-weight: 700;
  color: #FFFFFF;
}

.span-header-info {
  font-size: 80px;
  font-weight: 700;
  color: #FFFFFF;
}

.gradient-row-info {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.21%, #000000 101.5%);
  min-height: 800px;
}

.find {
  font-weight: bold;
  font-size: 40px;
}

.inf {
  font-weight: bold;
  font-size: 80px;
}

.inf-text p {
  margin: 0;
}

.inf-text {
  color: white;
}

.social li {
  padding-bottom: 38px;
}

.social {
  list-style: none;
  margin-left: auto;
}

.social li a i:active {
  color: #00B25C;
  transition: 0.5s;
}

.social li a i:hover {
  color: #00B25C;
  transition: 0.5s;
}

.social i {
  color: white;
  font-size: 40px;
  transition: 0.5s;
}

.inf-flex {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.info-main {
  background: black;
}

.inf-turists {
  padding-top: 90px;
}

.green-text {
  color: #00B25C;
}

.inf-turists-text-1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.inf-turists-text-2 {
  color: white;
  font-size: 20px;
}

.cases p {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 35px;
}

.cases-bold {
  font-weight: bold;
}

.cases {
  width: 403px;
  height: 323px;
  padding: 35px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.cases-flex {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 61px;
}

.green-text-bold {
  font-weight: bold;
  color: #00B25C;
}

.emergeny {
  font-weight: bold;
  font-size: 24px;
  list-style: none;
  color: white;
}

.emergeny li {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
}

.emergeny li:last-child {
  padding-bottom: 29px;
}

.lifehacks-flexbody {
  background-color: black !important;
  font-family: "Montserrat", sans-serif !important;
}

.health,
.taxfree {
  margin: 5%;
  color: white;
}

.health,
.taxfree {
  font-size: 24px;
}

.info {
  color: #00B25C;
  font-weight: bold;
  font-size: 36px;
}

hr {
  background-color: white;
}

a.underline {
  color: white !important;
  text-decoration: underline !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: white;
}

.lh-title {
  font-size: 48pt;
  font-weight: bold;
  margin-top: 150px;
  padding-bottom: 30px;
}

.lh-subtitle {
  display: block;
  text-align: center;
  margin: 0 25%;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.taxfree-flex {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: #00B25C;
}

.center {
  display: block;
  text-align: center;
}

.lh-col {
  padding-right: 40px;
  padding-top: 50px;
  text-align: center;
}

.lh-text {
  padding-top: 59px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.lh-text img {
  text-align: center;
}

.lh-body {
  margin: 0 2% !important;
  font-size: 10pt;
}

.health {
  position: static;
}

.heart {
  z-index: 0;
  position: absolute;
  top: 100px;
  right: 0;
}

.health-flex {
  position: relative;
}

.card {
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 14px;
  right: 660px;
  height: 393px;
}

.social-footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  width: 300px;
}

.social-footer i {
  color: white;
  font-size: 35px;
}

.social-footer li a i:active {
  color: #00B25C;
}

.social-footer li a i:hover {
  color: #00B25C;
}

.hello-green {
  color: #00B25C;
  font-weight: bold;
}

.busel-footer p {
  color: white;
  font-size: 14px;
}

.busel-img {
  padding-bottom: 87px;
}

.footer-text-1 {
  padding-bottom: 34px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex ul p {
  padding-bottom: 43px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.footer-flex ul {
  list-style: none;
}

.footer-flex ul li a {
  color: white;
}

.footer-flex ul li {
  padding-bottom: 14px;
}

.Copyright {
  font-size: 18px;
  font-weight: bold;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  color: white;
}

@media (max-width: 1040px) {
  .nav-flex li a {
    padding: 8px 17px;
  }

  .taxfree {
    margin-right: 20px;
  }

  .find {
    font-size: 30px;
  }

  .inf {
    font-size: 50px;
  }
}

@media (max-width: 840px) {
  .h1-header-info {
    font-size: 25px;
  }

  .span-header-info {
    font-size: 60px;
  }

  .health,
  .taxfree {
    font-size: 20px;
  }

  .card {
    z-index: 1;
    position: absolute;
    top: 14px;
    right: 400px;
    height: 393px;
  }

  .heart {
    z-index: 0;
    position: absolute;
    height: 476px;
    right: 0;
  }
}

@media (max-width: 520px) {
  .h1-header-info {
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
  }

  .span-header-info {
    font-size: 55px;
    font-weight: 700;
    color: #FFFFFF;
  }

  .to-see {
    max-width: 100%;
  }

  .gradient-row-info {
    min-height: 550px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 200px;
  }

  .mob-menu {
    display: block;
  }

  .nav-flex {

    align-items: center;
  }

  .none-block-info {
    display: none;
  }

  .inf-text {
    padding: 0;
    width: 30%;
  }

  .find {
    font-size: 20px;
  }

  .inf {
    font-size: 40px;
  }

  .inf-flex {   
    display: flex;
    justify-content: space-between;
    padding-bottom: 150.8px;
  }

  .taxfree-flex {
    justify-content: center;
  }

  .health-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .card {
    z-index: 1;
    position: absolute;
    top: 14px;
    right: 172px;
    height: 393px;
  }

  .heart {
    z-index: 0;
    position: absolute;   
    height: 476px;
    right: 0;
  }

  .lh-subtitle {
    margin: 0 auto;
  }

  .lh-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-flex ul li {
    font-size: 10px;
  }

  .footer-flex ul p {
    font-size: 18px;
  }

  .hello-green {
    font-size: 15px;
  }

  .busel-footer p {
    font-size: 12px;
  }

  .social-footer li a i {
    font-size: 30px;
  }

  .Copyright {
    padding-top: 20px;
  }

  .Copyright p {
    font-size: 15px;
  }
}