

/* убираем синюю обводку при нажатии на кнопку */

button:active, button:hover, button:focus {
    outline: 0;
    outline-offset: 0;
}


// To Do Page


/* -----------START HEADER-------------  */

.todo-page-header {
    @include background-header(url(../img/to_do_page/todo_bg.png), cover, color-burn);
}

/* -----------END HEADER-------------  */



/* -----------START MAIN-------------  */


// main {
// 	background: #000;
// 	padding: 110px 0;

// }

// .head {
// 	margin-bottom: 120px;
// }

// .head h2 {
// 	color: #FFFFFF;
// 	font-weight: 700;
// 	font-size: 50px;
// 	line-height: 61px;
// 	margin-bottom: 40px;
// }

// .head h2 span {
// 	color: #00B25C;
// }

// .head p {
// 	font-size: 20px;
// 	line-height: 24px;
// 	color: #FFFFFF;
// 	max-width: 592px;
// 	margin-top: -15px;
// }

// .slips {
// 	display: grid;
// 	grid-template-columns: repeat(3, 400px);
// 	grid-template-rows: repeat(2, 531px);
// }

// .slip {
// 	background-repeat: no-repeat;
// 	margin: 0 10px;
// 	margin-bottom: 20px;
// }

// .first-slip {
// 	background: url(../img/one.png);
// 	background-repeat: no-repeat;
// 	background-size: cover;

// }

// .second-slip {
// 	background: url(../img/two.jpg);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

// .third-slip {
// 	background: url(../img/three.png);
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

// .first-slip-block h1 {
// 	margin-left: 10px;
// 	text-align: center;
// }

// .second-slip-block h1 {
// 	margin-left: 20px;
// 	text-align: center;
// }

// .third-slip-block h1 {
// 	margin-left: 10px;
// 	text-align: center;
// }

// .fourth-slip-block h1 {
// 	margin-left: 20px;
// 	text-align: center;
// }

// .fifth-slip-block h1 {
// 	margin-left: 20px;
// 	text-align: center;
// }

// .six-slip-block h1 {
// 	margin-left: 10px;
// 	text-align: center;
// }

// .cont {
// 	padding: 30px;
// }

// .rate {
// 	color: white;
// 	font-size: 19px;
// 	display: flex;
// }

// .rate i {
// 	color: #00B25C;
// 	font-size: 23px;
// 	margin-right: 5px;
// }

// .slip h1{
// 	font-weight: 700;
// }


// .slip h2 {
// 	width: auto;
// 	font-weight: 700;
// 	font-size: 35px;
// 	line-height: 43px;
// 	color: #FFFFFF;
// 	text-align: center;
// 	margin-top: 50px;
// }

// .slip h6 {
// 	text-align: center;
// 	/*margin-left: 130px;*/
// 	font-weight: 300;
// 	font-size: 16px;
// 	line-height: 20px;
// 	color: #FFFFFF;
// }

// .info {
// 	margin-top: 50px;
// }

// .info i {
// 	font-size: 24px;
// 	margin-right: 15px;
// }

// .info p {
// 	color: #ffffff;
// 	/*max-width: 253px;*/
// }

// .a-lot-of-text {
// 	font-size: 17px;
// }

// .first-slip .buttons{
// 	margin-top: 0;
// }

// .second-slip .buttons{
// 	margin-top: 0;
// }

// .buttons {
// 	display: flex;
// 	justify-content: space-between;
// 	margin-top: 40px;
// }

// .buttons button {
// 	color: #ffffff;
// 	background: rgba(0, 0, 0, 0);
// 	border: 1px solid #00B25C;
// 	border-radius: 60px;
// 	width: auto;
// 	padding: 10px 30px;
// 	font-weight: 600;
// }

// .buttons button:hover {
// 	background: #00B25C;
// 	transition: 0.2s;
// }

// .buttons button:not(:hover) {
// 	transition: 0.2s;
// }

// .slip-bg {
// 	height: 533px;
// 	opacity: 0;
// }

// .slip-bg:hover {
// 	transition: 0.4s;
// 	background: rgba(0, 0, 0, 0.83);
// 	opacity: 1;
// }

// .slip-bg:not(:hover) {
// 	transition: 0.4s;
// }


/* -----------END MAIN-------------  */


/* -----------START FOOTER-------------  */




// footer {
// 	background: url(../img/forest.png);
// 	display: flex;
// }

// .footer-row {
// 	justify-content: space-between;
// }

// .footer-row h2 {
// 	font-weight: 700;
// 	font-size: 24px;
// 	line-height: 29px;
// 	line-height: 29px;

// 	margin-bottom: 50px;
// 	margin-top: 45px;
// }

// p.copyright {
// 	font-weight: 600;
// 	font-size: 18px;
// 	line-height: 22px;
// 	color: #FFFFFF;
// 	text-align: center;
// 	margin-top: 80px;
// 	margin-bottom: 40px;
// }

// footer p {
// 	font-weight: normal;
// 	font-size: 14px;
// 	line-height: 17px;
// 	color: #FFFFFF;
// }

// footer p span {
// 	color: #00B25C;
// 	font-size: 20px;
// 	font-weight: bolder;
// 	margin-left: 10px;
// }

// footer p span:hover {
// 	text-decoration: underline;
// 	transition: 0.5s;
// }

// footer p span:not(:hover) {
// 	transition: 0.5s;
// }

// .smth-info {
// 	margin-top: 100px;
// 	margin-bottom: 40px;
// }

// .smth-info p {
// 	line-height: 20px;
// }

// .networks a {
// 	color: #FFFFFF;
// 	font-size: 35px;
// 	margin: 40px 15px;
// }

// .networks a:first-child {
// 	margin-left: 0;
// }

// .networks {
// 	padding-top: 20px;
// }

// .networks a:hover {
// 	transition: 0.1s;
// 	color: #00B25C;
// }

// .networks i:not(:hover) {
// 	transition: 0.1s;
// }


// .links a {
// 	display: block;
// 	font-weight: normal;
// 	font-size: 18px;
// 	line-height: 40px;
// 	color: #FFFFFF;
// }


/* -----------END FOOTER-------------  */









/* -----------RESPONSIVE-------------  */



/* --------------lg- responsive-------------------- */

// @media (max-width: 1280px) {
// 	.slips {
// 		grid-template-columns: repeat(2, 400px);
// 		grid-template-rows: repeat(2, 531px);
// 		grid-gap: 50px;
	
// 	}
// }

// @media (max-width: 1200px) {
// 	.submenu a,
// 	.lang-menu a {
// 		font-size: 14px;
// 	}

// 	.nav-link{
// 		padding: 5px 15px;
// 	}
// }


// @media (max-width: 1040px) {
// 	.slips {
// 		grid-template-columns: repeat(2, 350px);
// 		grid-template-rows: repeat(2, 531px);
// 		grid-gap: 50px;
// 	}

// 	.burger {
// 		margin-left: 20px;
// 	}
// 	.vk-inst-fb-twt{
// 		margin-right: 15px;
// 	}

// 	.slip .info p{
// 		font-size: 13px;
// 	}
// 	.buttons{
// 		padding-top: 30px;
// 	}
	
// 	.second-slip-block .buttons, .fourth-slip-block .buttons{
// 		margin-top: -28px;
// 	}

// 	.six-slip-block .buttons {
// 		margin-top: 40px;
// 	}

// 	.fifth-slip-block .buttons {
// 		margin-top: -5px;
// 	}

// 	.third-slip-block .buttons {
// 		margin-top: 27px;
// 	}

// 	.slips {
// 		margin-left: 100px;
// 	}

// 	.slip-bg {
// 		opacity: 1;
// 		background: rgba(0, 0, 0, 0.83);
// 	}

// 	.nav-link, .nav-link-langue{
// 		border: 0.5px solid #FFFFFF;
// 	}

// 	.slip button {
// 		background: #00B25C;
// 	}


// }

// /* --------------md - responsive-------------------- */
// @media (max-width: 992px) {
// 	.slips {
// 		grid-template-columns: repeat(2, 50%);
// 		grid-template-rows: repeat(2, 531px);
// 		grid-gap: 0px;
// 		margin-left: 0;
		
// 	}

// 	.submenu{
// 		display: none;
// 	}
	
// 	.mobile-menu{
// 		display: block;
// 		margin-top: 45px;
// 	}

// 	.submenu a,
// 	.lang-menu a {
// 		font-size: 14px;
	
// 	}

// 	.submenu img {
// 		width: 80%;
// 	}

// 	.submenu li:first-child {
// 		align-self:flex-end;
// 	}

// 	.langue-header {
// 		margin-top: -60px;
// 	}

// 	footer p span {
// 		margin-left: 2px;
// 		font-size: 15px;
// 	}

// 	.footer-row h2 {
// 		font-size: 18px;
// 	}


// 	.networks i {
// 		font-size: 25px;
// 	}

// 	.links a {
// 		font-size: 14px;
// 	}

// 	p.copyright {
// 		font-size: 14px;
// 	}
// }


// /* --------------sm - responsive-------------------- */

// @media (max-width: 768px) {
// 	.slips {
// 		grid-template-columns: repeat(1, 90%);
// 		grid-template-rows: repeat(2, 531px);
// 		grid-gap: 0px;
// 		margin-left: 18px;
// 	}

// 	.nav-link {
// 		padding: 5px;
// 		font-size: 12px;
// 	}

// 	.submenu li:not(:first-child) {
// 		display: none;
// 	}

// 	.buttons{
// 		padding-top: 20px;
// 	}

// 	.vk-inst-fb-twt {
// 		align-self:center;
// 	}	

// 	.slip .info p{
// 		font-size: 16px;
// 	}

// 	.links a {
// 		font-size: 14px;
// 		line-height: 30px;
// 	}

// 	footer h2 {
// 		font-size: 12px;
// 		line-height: 29px;
// 		margin-bottom: 18px;
// 	}

// 	.smth-info {
// 		margin: 25px 0;
// 	}

// 	.networks i {
// 		margin: 10px 5px;
// 		font-size: 20px;
// 	}

// 	footer h2 {
// 		margin-top: 30px;
// 		margin-bottom: 20px;
// 	}
	
// }

// @media (max-width:576px) {

// 	.slip .info p {
// 		font-size: 12px;
// 	}

// 	.fourth-slip-block .buttons, .second-slip-block .buttons {
// 		margin-top: 20px;
// 	}

// 	footer .links{
// 		margin-top: -30px;
// 	}

	
// 	.slip button {
// 		font-size: 10px;
// 	}

// 	.links a {
// 		font-size: 10px;
// 		line-height: 30px;
// 	}

// 	footer p {
// 		font-size: 12px;
// 	}

// 	footer h2 {
// 		font-size: 10px;
// 		margin-bottom: 18px;
// 	}

// 	p.copyright {
// 		font-size: 10px;
// 		margin-top: 40px;
// 	}

// 	.networks a{
// 		margin: 40px 5px;
// 	}
// }

// @media (max-width: 492px) {
// 	.buttons{
// 		padding-top: 5px;
// 	}

// 	.slip .info p {
// 		font-size: 13px;
// 	}

// }

// @media (max-width: 458px) {
// 	.slip .info p{
// 		font-size: 14px;
// 	}

// 	.buttons{
// 		padding-top: 10px;
// 	}
// }
  