@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main part */
.main-page-header {
  background: url(../img/main_page/header-main.jpg), linear-gradient(180deg, #000000 -7%, rgba(0, 0, 0, 0) 39.06%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

.container {
  max-width: 1250px;
}

.to-see-main {
  display: flex;
  justify-content: row;
}
.to-see-main h1 {
  margin-left: -50px;
}

a.discover-link {
  max-width: 400px;
  color: white;
  font-weight: 700;
  border: 0.5px solid white;
  padding: 10px 50px;
  border-radius: 40px;
  text-align: center;
  font-size: 14px;
  transition: 0.3s;
}
a.discover-link:hover {
  text-decoration: none;
  color: #00b25c;
  border: 0.5px solid #00b25c;
  box-shadow: 0px 0px 20px 0px black;
  transition: 0.3s;
}

.discover {
  justify-content: center;
  margin-top: 20px;
  align-items: flex-end;
  min-height: 250px;
}

.numbers-block-main {
  position: relative;
  min-height: 662px;
  background: #000000;
}
.numbers-block-main .numbers-block-main__discover-word {
  padding-top: 100px;
}
.numbers-block-main .numbers-block-main__discover-word .numbers-block-main__discover-text {
  width: 100%;
  font-weight: bold;
  font-size: 250px;
  line-height: 366px;
  color: rgba(255, 255, 255, 0.04);
}
.numbers-block-main .numbers-block-main__number-place-block {
  width: 240px;
  transition: 0.3s;
}
.numbers-block-main .numbers-block-main__number-place-block:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.numbers-block-main .numbers-block-main__number-place-block .numbers-block-main__number-place-block-text-h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #00b25c;
}
.numbers-block-main .number-place-block1 {
  position: absolute;
  top: 100px;
  left: 90px;
}
.numbers-block-main .number-place-block2 {
  position: absolute;
  top: 200px;
  left: 470px;
}
.numbers-block-main .number-place-block3 {
  position: absolute;
  top: 300px;
  left: 850px;
}
.numbers-block-main .numbers-block-main__number-place-block-text-h1 {
  font-weight: bold;
  font-size: 100px;
  line-height: 122px;
  text-align: center;
  color: #ffffff;
}

.main-main {
  background: #000000;
}

.to-eat-main .to-eat-main__text {
  padding: 70px 0px 100px;
}
.to-eat-main .to-eat-main__text .to-eat-main__h1 {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
  padding-bottom: 30px;
  width: 444px;
}
.to-eat-main .to-eat-main__text .to-eat-main__h1 .to-eat-main__h1-green {
  color: #00b25c;
}
.to-eat-main .to-eat-main__text .to-eat-main__h2 {
  width: 592px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.main-attraction-container {
  display: flex;
  justify-content: space-between;
  background: #000000;
  padding-bottom: 90px;
}
.main-attraction-container .main-attraction-block-main {
  background: #000000;
  position: relative;
  height: 523px;
}
.main-attraction-container .main-attraction-block-main:hover .main-attraction-block-container-width {
  opacity: 1;
  transition: 0.5s;
}
.main-attraction-container .main-attraction-block-main:hover .main-attraction-block-img {
  opacity: 0.2;
  transition: 0.5s;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-img {
  transition: 0.5s;
  height: 523px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width {
  transition: 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 409px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-container {
  margin: 0 auto;
  width: 326px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf-top {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf-top .main-attraction-block-star .star {
  padding-right: 10px;
  color: #00b25c;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf-top .main-attraction-block-star .span-star {
  color: #00b25c;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf-top .main-attraction-block-dollar .dollar {
  color: #00b25c;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-text {
  margin-top: 55px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-text .main-attraction-block-h1 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #ffffff;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-text .main-attraction-block-h2 {
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf {
  margin-bottom: 60px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf .main-attraction-block-inf-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf .main-attraction-block-inf-p .main-attraction-block-inf-i {
  vertical-align: middle;
  font-size: 30px;
  padding-right: 15px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf .main-attraction-block-inf-p-inf {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-inf .main-attraction-block-inf-p-inf .main-attraction-block-inf-i {
  vertical-align: middle;
  font-size: 30px;
  padding-right: 15px;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value {
  display: flex;
  justify-content: space-between;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button1 {
  padding: 12px 30px;
  border: none;
  background: transparent;
  border: 1px solid #00b25c;
  border-radius: 35px;
  transition: 0.3s;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button1 .main-attraction-block-button-a1 {
  text-decoration: none;
  color: white;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button1:hover {
  background: #00b25c;
  transition: 0.3s;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button2 {
  padding: 12px 34px;
  border: none;
  background: transparent;
  border: 1px solid #00b25c;
  border-radius: 35px;
  transition: 0.2s;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button2 .main-attraction-block-button-a2 {
  text-decoration: none;
  color: white;
}
.main-attraction-container .main-attraction-block-main .main-attraction-block-container-width .main-attraction-block-button-value .main-attraction-block-button2:hover {
  background: #00b25c;
  transition: 0.3s;
}

.main-attraction-block-button-places-chek {
  display: flex;
  justify-content: center;
  padding-bottom: 136px;
}
.main-attraction-block-button-places-chek .main-attraction-block-button-places-chek-button {
  padding: 12px 60px;
  background: transparent;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 35px;
  transition: 0.4s;
}
.main-attraction-block-button-places-chek .main-attraction-block-button-places-chek-button:hover {
  border: 1px solid #00b25c;
  transition: 0.4s;
}
.main-attraction-block-button-places-chek .main-attraction-block-button-places-chek-button:hover .main-attraction-block-button-places-chek-button-a {
  transition: 0.4s;
  color: #00b25c;
}
.main-attraction-block-button-places-chek .main-attraction-block-button-places-chek-button .main-attraction-block-button-places-chek-button-a {
  transition: 0.4s;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.to-do-main__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.dop-class-main-attraction-block-text {
  margin-bottom: 20px !important;
}

.main-news {
  background: url("../img/main_page/news-bg-shadow.png"), url("../img/main_page/museum.jpg");
  min-height: 397px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 47%;
  padding-top: 155px;
  color: white;
}

.main-news p {
  font-weight: bold;
  width: 520px;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 36px;
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lifehacks {
  background-color: #000;
  min-height: 776px;
  padding-top: 97px;
}

.lifehacks h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-bottom: 29px;
}

.green-text {
  color: #00B25C;
}

.subtitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 592px;
  margin-bottom: 129px;
}

.lifehacks .text-center {
  display: flex;
  justify-content: center;
}

.lifehacks .lifehack-item p {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.lifehacks .lifehack-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.lifehacks .lifehack-item {
  width: 340px;
  display: flex;
  flex-direction: column;
  /* height: 240px; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.lifehacks .lifehack-item img {
  margin-bottom: 50px;
}

.lifehacks .lifehack-item a {
  color: #fff;
  text-decoration: underline;
}

.lifehacks button {
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 44px;
}

.lifehacks button:hover {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.lifehacks .btn-center {
  display: flex;
  justify-content: center;
  margin-top: 82px;
}

.lifehacks button:active {
  background-color: transparent !important;
}

section.places {
  background-color: #000;
}

@media (max-width: 480px) {
  .main-news h2 {
    font-size: 16px;
    width: inherit;
    line-height: 27px;
    margin-bottom: 30px;
  }

  .main-news {
    background-size: cover, 250%;
    padding-top: 145px;
    background-position-y: 67%;
    background-position-x: 50%;
  }

  .lifehacks {
    padding-top: 80px;
  }

  .lifehacks h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    width: auto;
    margin-bottom: 129px;
  }

  .lifehacks .lifehack-item img {
    height: 60px;
    margin-bottom: 20px;
  }

  .lifehack-block .lifehack-item p {
    font-size: 14px;
  }

  .lifehack-block .lifehack-item {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .lifehacks .lifehack-block {
    flex-direction: column;
  }

  .lifehacks .btn-center {
    margin-top: 0;
  }

  .head-1 {
    display: none;
  }

  .head-1-adaptive {
    display: inline-block;
    padding-left: 10px;
  }

  .head-1-adaptive-a a {
    color: white;
    text-decoration: none;
    padding: 8px;
  }

  .head-1-adaptive-a {
    padding-top: 20px;
  }

  .icons-header-adaptive {
    display: block;
    position: absolute;
    top: 460px;
    right: 290px;
  }

  .top-places {
    padding-left: 10px;
    font-size: 40px;
  }

  .to-eat {
    font-size: 40px;
  }

  .divinline {
    display: inline-block;
    padding: 5px;
  }

  .discover {
    display: none;
  }

  .button-see-more-places {
    padding-left: 50px;
  }

  .top-places-2 {
    padding-left: 10px;
  }

  .this-quarter-2 {
    padding-left: 10px;
  }

  .button-see-more-places-2 {
    padding-left: 50px;
  }

  .slip-2-2 {
    padding-left: 20px;
  }

  .slip-3-2 {
    padding-left: 20px;
  }

  .text-center p {
    width: 350px;
  }

  .lifehack-item p {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }

  .btn-center {
    width: 100px;
    padding-left: 5px;
    padding-right: 0;
  }

  .smth-info p {
    font-size: 15px;
    padding: 8px;
  }

  .peshh {
    font-size: 15px;
    padding: 3px;
  }

  .peshh span {
    font-size: 15px;
    padding: 3px;
  }

  .networks i {
    font-size: 15px;
    padding: 5px;
  }

  .quick {
    color: white;
    font-size: 17px;
  }

  .linkss {
    margin-top: 150px;
    padding-right: 5px;
  }

  .linksss {
    margin-top: 150px;
    padding-right: 5px;
  }
}
@media (max-width: 769px) {
  .number-for-us-three {
    padding-left: 200px;
    padding-top: 60px;
  }

  .main-news h2 {
    font-size: 16px;
    /* width: auto; */
    line-height: 27px;
    margin-bottom: 30px;
  }

  .main-news {
    background-size: cover, 250%;
    padding-top: 145px;
    background-position-y: 67%;
    background-position-x: 50%;
  }

  .lifehacks .subtitle {
    width: auto;
  }

  .logo-main {
    width: 100px;
    height: 70px;
  }

  .head-1 a {
    font-size: 10px;
  }

  .english-main {
    margin-left: 20px;
  }

  .discover {
    margin-left: 180px;
  }

  .numbers-for-us p {
    font-size: 30px;
  }

  .sssss {
    font-size: 50px !important;
  }

  .slips {
    padding-left: 170px;
  }

  .slip-2 {
    padding-left: 170px;
  }

  .slip-3 {
    padding-left: 170px;
  }

  .top-places-2 {
    padding-left: 0;
  }

  .this-quarter-2 {
    padding-left: 0;
  }

  .slip-2-2 {
    padding-left: 170px;
  }

  .slip-3-2 {
    padding-left: 170px;
  }

  .button-see-more-places-2 {
    padding-left: 200px !important;
  }

  .networks i {
    font-size: 30px;
  }

  .button-see-more-places {
    padding-left: 200px !important;
  }

  .btn-center div {
    padding-left: 100px;
  }

  .white-church {
    display: none;
  }

  .discover {
    display: none !important;
  }
}
@media (max-width: 1040px) {
  .numbers-block-main .numbers-block-main__discover-word {
    transition: 0.3s;
  }
  .numbers-block-main .numbers-block-main__discover-word:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  .numbers-block-main .numbers-block-main__discover-word .numbers-block-main__discover-text {
    transition: 0.3s;
    color: white;
    text-align: center;
    width: 800px;
    font-size: 150px;
  }
  .numbers-block-main .numbers-block-main__discover-word .numbers-block-main__discover-text:hover {
    transition: 0.3s;
  }
  .numbers-block-main .numbers-block-main__number-place-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
  }
  .numbers-block-main .numbers-block-main__number-place-block {
    display: block;
    position: static;
  }

  .main-attraction-container {
    flex-direction: column;
    align-items: center;
  }
  .main-attraction-container .main-attraction-block-main {
    margin-top: 20px;
  }

  .to-eat-main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-attraction-container .main-attraction-block-main .main-attraction-block-container-width {
    opacity: 1;
  }

  .main-attraction-block-img {
    opacity: 0.2;
  }
}
@media (max-width: 840px) {
  .container {
    max-width: 580px;
  }

  .numbers-block-main {
    display: none;
  }

  .main-attraction-container {
    flex-direction: column;
    align-items: center;
  }
  .main-attraction-container .main-attraction-block-main {
    margin-top: 20px;
  }

  .to-eat-main__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-attraction-container .main-attraction-block-main .main-attraction-block-container-width {
    opacity: 1;
  }

  .main-attraction-block-img {
    opacity: 0.2;
  }
}
@media (max-width: 480px) {
  .to-eat-main .to-eat-main__text .to-eat-main__h1 {
    font-size: 34px;
  }
  .to-eat-main .to-eat-main__text .to-eat-main__h1 .to-eat-main__h1-green {
    font-size: 34px;
  }

  .to-eat-main .to-eat-main__text .to-eat-main__h2 {
    width: 300px;
    font-size: 18px;
  }

  .to-eat-main .to-eat-main__text {
    padding-bottom: 40px;
  }
}
/* info part */
.info-page-header {
  background: url(../img/info_page/3733.jpg), linear-gradient(180deg, #000000 -7%, rgba(0, 0, 0, 0) 39.06%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

button:active, button:hover, button:focus {
  outline: 0;
  outline-offset: 0;
}

.gradient-row-info {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.21%, #000000 101.5%);
  min-height: 800px;
}

.find {
  font-weight: bold;
  font-size: 40px;
}

.inf {
  font-weight: bold;
  font-size: 80px;
}

.inf-text p {
  margin: 0;
}

.inf-text {
  color: white;
}

.social li {
  padding-bottom: 38px;
}

.social {
  list-style: none;
  margin-left: auto;
}

.social li a i:active {
  color: #00B25C;
  transition: 0.5s;
}

.social li a i:hover {
  color: #00B25C;
  transition: 0.5s;
}

.social i {
  color: white;
  font-size: 40px;
  transition: 0.5s;
}

.inf-flex {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
}

.info-main {
  background: black;
}

.inf-turists {
  padding-top: 90px;
}

.green-text {
  color: #00B25C;
}

.inf-turists-text-1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.inf-turists-text-2 {
  color: white;
  font-size: 20px;
}

.cases p {
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 35px;
}

.cases-bold {
  font-weight: bold;
}

.cases {
  width: 403px;
  height: 323px;
  padding: 35px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}

.cases-flex {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 61px;
}

.green-text-bold {
  font-weight: bold;
  color: #00B25C;
}

.emergeny {
  font-weight: bold;
  font-size: 24px;
  list-style: none;
  color: white;
}

.emergeny li {
  padding-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
}

.emergeny li:last-child {
  padding-bottom: 29px;
}

.lifehacks-flexbody {
  background-color: black !important;
  font-family: "Montserrat", sans-serif !important;
}

.health, .taxfree {
  margin: 5%;
  color: white;
}

.health, .taxfree {
  font-size: 24px;
}

.info {
  color: #00B25C;
  font-weight: bold;
  font-size: 36px;
}

hr {
  background-color: white;
}

a.underline {
  color: white !important;
  text-decoration: underline !important;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

.lh-title {
  font-size: 48pt;
  font-weight: bold;
  margin-top: 150px;
  padding-bottom: 30px;
}

.lh-subtitle {
  display: block;
  text-align: center;
  margin: 0 25%;
  margin-bottom: 100px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

.taxfree-flex {
  display: flex;
  justify-content: flex-end;
}

.green {
  color: #00B25C;
}

.center {
  display: block;
  text-align: center;
}

.lh-col {
  padding-right: 40px;
  padding-top: 50px;
  text-align: center;
}

.lh-text {
  padding-top: 59px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.lh-text img {
  text-align: center;
}

.lh-body {
  margin: 0 2% !important;
  font-size: 10pt;
}

#heart {
  z-index: 0;
  position: absolute;
  left: 625px;
  bottom: 0;
  top: 0;
  height: 476px;
}

#card {
  z-index: 1;
  position: absolute;
  top: 14px;
  right: 660px;
  height: 393px;
}

footer {
  padding-top: 236px;
  background-image: url(../img/footer-bg.png);
}

.social-footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  width: 300px;
}

.social-footer i {
  color: white;
  font-size: 35px;
}

.social-footer li a i:active {
  color: #00B25C;
}

.social-footer li a i:hover {
  color: #00B25C;
}

.hello-green {
  color: #00B25C;
  font-weight: bold;
}

.busel-footer p {
  color: white;
  font-size: 14px;
}

.busel-img {
  padding-bottom: 87px;
}

.footer-text-1 {
  padding-bottom: 34px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex ul p {
  padding-bottom: 43px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.footer-flex ul {
  list-style: none;
}

.footer-flex ul li a {
  color: white;
}

.footer-flex ul li {
  padding-bottom: 14px;
}

.Copyright {
  font-size: 18px;
  font-weight: bold;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  color: white;
}

@media (max-width: 1040px) {
  .nav-flex li a {
    padding: 8px 17px;
  }

  .taxfree {
    margin-right: 20px;
  }

  .find {
    font-size: 30px;
  }

  .inf {
    font-size: 50px;
  }
}
@media (max-width: 840px) {
  .health, .taxfree {
    font-size: 20px;
  }

  #card {
    z-index: 1;
    position: absolute;
    top: 14px;
    right: 400px;
    height: 393px;
  }

  #heart {
    z-index: 0;
    position: absolute;
    left: 400px;
    bottom: 0;
    top: 0;
    height: 476px;
  }
}
@media (max-width: 520px) {
  .to-see {
    max-width: 100%;
  }

  .gradient-row-info {
    min-height: 550px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 200px;
  }

  .mob-menu {
    display: block;
  }

  .nav-flex {
    align-items: center;
  }

  .none-block-info {
    display: none;
  }

  .inf-text {
    padding: 0;
    width: 30%;
  }

  .find {
    font-size: 20px;
  }

  .inf {
    font-size: 40px;
  }

  .inf-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150.8px;
  }

  .taxfree-flex {
    justify-content: center;
  }

  .health-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  #card {
    z-index: 1;
    position: absolute;
    top: 14px;
    right: 172px;
    height: 393px;
  }

  #heart {
    z-index: 0;
    position: absolute;
    left: 174px;
    bottom: 0;
    top: 0;
    height: 476px;
  }

  .lh-subtitle {
    margin: 0 auto;
  }

  .lh-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-flex ul li {
    font-size: 10px;
  }

  .footer-flex ul p {
    font-size: 18px;
  }

  .hello-green {
    font-size: 15px;
  }

  .busel-footer p {
    font-size: 12px;
  }

  .social-footer li a i {
    font-size: 30px;
  }

  .Copyright {
    padding-top: 20px;
  }

  .Copyright p {
    font-size: 15px;
  }
}
/* to see part */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border: 0;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger__line_first {
  top: 0;
}

.burger__line_third {
  bottom: 0;
}

.burger__line_second {
  bottom: 9px;
}

body {
  font-family: "Montserrat", sans-serif;
}
body button {
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
<<<<<<< HEAD
=======
}

.toSee-nav {
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
>>>>>>> 031bd98e601b34a284a5be4e1b8abc9010cb5e1f
}

.toSee-header {
  background: url(../img/to_see_page/header-to-see.png), linear-gradient(180deg, #000000 -7%, rgba(0, 0, 0, 0) 39.06%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

.gradient-row {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 39.21%, #000000 101.5%);
  min-height: 800px;
}

.toSee-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.submenu,
.lang-menu {
  display: flex;
  list-style: none;
}

.submenu li:not(:first-child),
.lang-menu {
  margin-top: 40px;
}

.submenu li:first-child {
  margin-right: 20px;
}

.nav-link {
  padding: 5px 25px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 0.5px solid transparent;
  transition-duration: 0.4s;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 0.5px solid #FFFFFF;
  transition-duration: 0.4s;
}

.nav-link-langue {
  padding: 5px 21px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 0.5px solid transparent;
}

.nav-link-langue:hover {
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  border: 0.5px solid #FFFFFF;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 350px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h1 span {
  font-size: 80px;
  display: block;
}

.vk-inst-fb-twt {
  align-self: flex-end;
}

.social_networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-networks {
  font-size: 14px;
  list-style: none;
  margin-bottom: 30px;
}

.header-social-networks-a {
  text-decoration: none;
  color: white;
}

main {
  background: #000000;
}

.beautiful1 {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
}

.green {
  color: #00B25C;
}

.text1 {
  padding-top: 30px;
  width: 344px;
}

.text-img {
  display: flex;
  justify-content: space-around;
}

.attraction-content {
  /* height: 1200px; */
  display: flex;
  flex-direction: row;
}

.attraction {
  width: 344px;
  height: 282px;
  transition-duration: 1s;
  transition-property: all;
  height: 100%;
  object-fit: cover;
}

.attraction-block {
  position: relative;
  background: #000000;
  margin-right: 20px;
  /* margin-top: 200px; */
  width: 344px;
  /* height: 282px; */
  margin-top: 22px;
}

.attraction-block-first {
  margin-top: 140px;
}

.upper-city {
  position: relative;
  background: #000000;
  /* margin-top: 200px; */
  width: 344px;
  height: 440px;
  /* margin-bottom: 80px; */
}

.upper-city-img {
  width: 344px;
  height: 440px;
}

.attraction-block:hover .attraction, .upper-city:hover .attraction {
  opacity: 0.2;
  transition-duration: 0.5s;
  transition-property: all;
  /* box-shadow: 0px 0px 30px 10px white; */
}

.attraction-block p, .upper-city p {
  transition-duration: 1s;
  transition-property: all;
  opacity: 0;
}

.attraction-block button, .upper-city button {
  transition-duration: 1s;
  transition-property: all;
  opacity: 0;
}

.attraction-block:hover button, .upper-city:hover button {
  opacity: 1;
  transition-duration: 1s;
  transition-property: all;
}

.attraction-block button:hover, .upper-city button:hover {
  opacity: 1;
  transition-duration: 1s;
  transition-property: all;
}

.attraction-block p:hover, .upper-city p:hover {
  opacity: 1;
  transition-duration: 1s;
  transition-property: all;
}

.attraction-block:hover p, .upper-city:hover p {
  opacity: 1;
  transition-duration: 1s;
  transition-property: all;
}

.attraction-name {
  font-size: 24px;
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.distance img {
  padding-right: 20px;
}

.distance {
  font-size: 16px;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.show-maps {
  padding: 4.5px 12px;
  border-radius: 30px;
  font-size: 16px;
  position: absolute;
  top: 70%;
  left: 23%;
  background: none;
  border: 0.5px solid #FFFFFF;
}

.maps {
  text-decoration: none;
  color: #FFFFFF;
}

.maps:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.social-networks-i {
  color: white;
  transition-duration: 0.5s;
  /* padding: 20px; */
}

.social-networks-i:hover {
  color: #00B25C;
  transition-duration: 0.3s;
}

footer {
  background: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}

.busel-logo-footer {
  padding-bottom: 87px;
}

.text1-footer {
  padding-bottom: 34px;
}

.myFreedom-link {
  color: #00B25C;
  /* text-decoration: none; */
}

.myFreedom-link:hover {
  color: #00B25C;
  /* text-decoration: none; */
}

.social-networks-footer-ul {
  padding-top: 53px;
}

.social-networks-footer {
  display: inline;
  list-style: none;
  padding-right: 35px;
}

.quick-link {
  padding-top: 43px;
  font-size: 24px;
  padding-bottom: 43px;
}

.quick-link-li {
  list-style: none;
  padding-bottom: 14px;
}

.quick-link-a {
  color: #FFFFFF;
  text-decoration: none;
}

.quick-link-a:hover {
  color: #FFFFFF;
  /* text-decoration: none; */
}

.links {
  margin-left: 30%;
}

.copyright {
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 0;
}

.none-block {
  display: none;
  position: absolute;
}

.text-840px {
  display: none;
}

.images-840px {
  display: none;
}

.text-1040px {
  display: none;
}

.images-1040px {
  display: none;
}

@media (max-width: 1040px) {
  .container {
    margin: 0 auto;
    width: 800px;
  }

  .text1 {
    text-align: center;
  }

  .attraction-block {
    margin-right: 0px;
    /* margin-top: 200px; */
    width: 344px;
    height: 282px;
    margin-top: 22px;
  }

  .attraction-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
  }

  .upper-city-img {
    width: 344px;
    height: 440px;
  }

  .submenu li:first-child {
    margin-right: 5px;
  }

  .nav-link {
    padding: 3px 18px;
    font-size: 13px;
  }

  .nav-link:hover {
    padding: 3px 18px;
    font-size: 13px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }

  h1 span {
    font-size: 60px;
    display: block;
  }

  .text-img {
    display: none;
  }

  .beautiful {
    text-align: center;
  }

  .text-1040px {
    display: block;
    text-align: center;
  }

  .images-1040px {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .upper-city {
    margin-top: 20px;
  }

  .social-networks-footer-ul {
    font-size: 13px;
  }

  .social-networks-footer {
    padding-right: 7.5px;
  }

  .attraction-block-1040px {
    margin-top: 0;
  }

  .flex-block-beutiful {
    display: flex;
    justify-content: center;
  }

  .attraction-block .attraction, .upper-city .attraction {
    opacity: 0.2;
    transition-duration: 1s;
    transition-property: all;
  }

  .attraction-block button, .upper-city button {
    opacity: 1;
    transition-duration: 1s;
    transition-property: all;
  }

  .attraction-block p, .upper-city p {
    opacity: 1;
    transition-duration: 1s;
    transition-property: all;
  }

  .maps {
    text-decoration: none;
    color: #FFFFFF;
  }
}
@media (max-width: 840px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .busel-logo {
    display: none;
    /* transition-duration: 0.5s; */
    /* position: relative; */
  }

  .submenu {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 40px;
  }

  .BUSEL {
    display: none;
  }

  /* .submenu:first-child{
          display: none;
      }  */
  .langue-header {
    padding-left: 450px;
  }

  .none-block {
    display: block;
    font-size: 30px;
    padding-top: 40px;
  }

  .container {
    margin: 0 auto;
    max-width: 500px;
  }

  .nav-link-langue {
    padding: 1px 5px;
    /* padding: 2px 6px; */
  }

  .to-see {
    /* padding-left: 60px */
    text-align: center;
    /* display: flex;
        justify-content: center;
        align-items: center; */
  }

  h1 {
    /* display: flex;
        justify-content: center; */
    font-size: 30px;
    font-weight: 700;
  }

  h1 span {
    font-size: 60px;
    display: block;
  }

  .vk-inst-fb-twt {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text-img {
    display: none;
  }

  .text-1040px {
    display: none;
  }

  .images-1040px {
    display: none;
  }

  .text-840px {
    display: block;
  }

  .images-840px {
    display: block;
  }

  .images1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .images2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-networks-footer-ul {
    font-size: 13px;
  }

  .social-networks-footer {
    padding-right: 7.5px;
  }

  .attraction-block {
    margin-top: 20px;
  }

  .beautiful {
    text-align: center;
  }

  .flex-block-beutiful {
    display: flex;
    justify-content: center;
  }

  .text1 {
    text-align: center;
  }

  .main-header {
    display: flex;
    flex-direction: column;
  }

  .social_networks {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
  }

  .social-networks-header {
    /* display: inline; */
    padding-left: 40px;
  }

  .motto1 {
    /* padding: 140px 40px 40px 40px; */
    display: inline-block;
    font-size: 30px;
    text-align: center;
  }

  .motto2 {
    display: inline-block;
    font-size: 40px;
    text-align: center;
  }

  footer p, footer a {
    line-height: 2;
  }

  .footer {
    flex-direction: column;
  }

  .footer-block {
    text-align: center;
    max-width: 100%;
  }

  .links {
    margin-left: 0%;
    text-align: center;
  }

  .text1-footer {
    padding-bottom: 0px;
  }

  .social-networks-footer-ul {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 35px;
    padding-top: 20px;
  }

  .quick-link {
    font-weight: 700;
    padding-bottom: 25px;
  }
}
@media (max-width: 520px) {
  .beautiful1 {
    font-size: 40px;
  }

  .container {
    margin: 0 auto;
    max-width: 300px;
  }

  .header {
    justify-content: baseline;
  }

  .langue-header {
    padding-left: 260px;
  }

  .submenu {
    flex-direction: row;
    margin-left: 0px;
    margin-top: 60px;
  }

  .submenu .nav-link {
    padding: 3.5px 8px;
    font-size: 13px;
  }

  .submenu .nav-link:hover {
    padding: 3.5px 8px;
    font-size: 13px;
  }

  .main-header {
    margin-top: 50px;
  }

  .nav-link {
    padding: 1.5px 6px;
    font-size: 12px;
  }

  .nav-link:hover {
    padding: 1.5px 6px;
    font-size: 12px;
  }

  h1 {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 700;
  }

  h1 span {
    font-size: 40px;
    display: block;
  }

  .motto1 {
    /* padding: 140px 40px 40px 40px; */
    display: inline-block;
    font-size: 30px;
    text-align: center;
  }

  .motto2 {
    display: inline-block;
    font-size: 40px;
    text-align: center;
  }
<<<<<<< HEAD

  .footer {
    font-size: 14px;
  }

  .busel-logo-footer {
    width: 100px;
    padding-top: 43px;
    padding-bottom: 70px;
  }

  .quick-link {
    font-size: 20px;
  }

  .resourses {
    padding-top: 47px;
    padding-right: 20px;
    font-size: 15px;
  }

  .social-networks-i-footer {
    font-size: 24px !important;
    padding-right: 3px;
    padding-bottom: 7px;
  }

  .social-networks-footer {
    padding-right: 1px;
  }

  .quick-link-li {
    padding-bottom: 5px;
  }

  .quick-link-ul-resourses {
    padding-top: 36px;
  }

  .myFreedom-link {
    font-size: 10px;
  }

  .social-networks-footer-a {
    color: white;
    text-decoration: none;
  }
}
/* убираем синюю обводку при нажатии на кнопку */
button:active, button:hover, button:focus {
  outline: 0;
  outline-offset: 0;
}

/* -----------START HEADER-------------  */
.todo-page-header {
  background: url(../img/to_do_page/todo_bg.png), linear-gradient(180deg, #000000 -7%, rgba(0, 0, 0, 0) 39.06%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
}

/* -----------END HEADER-------------  */
/* -----------START MAIN-------------  */
/* -----------END MAIN-------------  */
/* -----------START FOOTER-------------  */
/* -----------END FOOTER-------------  */
/* -----------RESPONSIVE-------------  */
/* --------------lg- responsive-------------------- */
=======
}
>>>>>>> 031bd98e601b34a284a5be4e1b8abc9010cb5e1f
